<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="content">
            <%= render 'contacts/form' %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
