
    <!-- Slider -->
    <div id="owl-carousel" class="slider owl-carousel owl-theme">

        <!-- Slide -->
        <div class=" i item mask mask-black" style="background-image: url(<%= asset_path 'bgg1.jpg' %>); " data-stellar-background-ratio="0.4">
            <div class="full-wh relative" data-stellar-ratio="0.5">
                <div class="container" >
                    <div class="col-md-6 col-md-offset-2 relative">
                        <h1 class="animated fadeInDown wow" data-wow-delay="0.2s">LOOKING TO CREATING A SUCCESSFUL ONLINE PRESENCE?</h1>
                        <div class="subtitle animated fadeInUp wow" data-wow-duration="0.9s" data-wow-delay="0.5s">
                        <p style="font-size:16px;">  we work with game-changing brands, inspired companies, and global influencers.
                            Whether you’re just starting out or evolving your brand.The first step to growing a brand online is to drive qualified leads to your website or mobile app. Having a user-friendly experience is an important part of any successful business strategy, but generating relevant traffic is essential to having a strong conversion rate.
                            We are here to offer you that</p>
                        </div>
                        <div class="animated fadeInUp wow" data-wow-delay="1.0s">
                            <a href="#" class="btn btn-rounded btn-white-o" data-toggle="modal" data-target="#get-in-touch">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Slide -->

        <!-- Slide -->
        <div class=" i item mask mask-black" style="background-image: url(<%= asset_path 'bgg2.jpg' %>);" data-stellar-background-ratio="0.4">
            <div class="full-wh relative" data-stellar-ratio="0.5">
                <div class="container" >
                    <div class="col-md-6 col-md-offset-2 relative">
                        <h1 class="animated fadeInDown wow" data-wow-delay="0.2s">WELCOME TO ZONIA</h1>
                        <div class="subtitle animated fadeInUp wow" data-wow-duration="0.9s" data-wow-delay="0.5s">
                            <p>
                              We are a group of professional,  web design and development agency devoted to  crafting custom websites for forward thinking brands and businesses. In Africa, America and the eastern world. we know what it takes to create an effective digital strategy, user friendly web design and online marketing to help you stand out from the crowd.
                             </p>
                        </div>
                        <div class="animated fadeInUp wow" data-wow-delay="1.0s">
                            <a href="#" class="btn btn-rounded btn-white-o" data-toggle="modal" data-target="#get-in-touch">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Slide -->

        <!-- Slide -->
        <div class=" i item mask mask-black" style="background-image: url(<%= asset_path 'bbg3.jpg' %>) ;" data-stellar-background-ratio="0.4">
            <div class="full-wh relative" data-stellar-ratio="0.5">
                <div class="container" >
                    <div class="col-md-6 col-md-offset-2 relative">
                        <h1 class="animated fadeInDown wow" data-wow-delay="0.2s">INNOVATIVE & CUSTOMER-FOCUSED</h1>
                        <div class="subtitle animated fadeInUp wow" data-wow-duration="0.9s" data-wow-delay="0.5s">
                          <p>
                            Let us maximize your business potential
                               with the latest and innovative technologies
                               We deliver visually appealing, innovative and feature-rich web solutions centered towards your business.
Our digital marketing programs are implemented to drive real growth to your business.

                        </div>
                        <div class="animated fadeInUp wow" data-wow-delay="1.0s">
                            <a href="#" class="btn btn-rounded btn-white-o" data-toggle="modal" data-target="#get-in-touch">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Slide -->


    </div>
    <!-- /Slider -->

</header>
<script type="text/javascript">
$(document).ready(function() {
$("#owl-carousel").owlCarousel({

slideSpeed: 300,
paginationSpeed: 400,
singleItem: true,
    autoPlay:true,
    autoPlayTimeout:5000,
    autoPlayHoverPause:false,
    loop:true,
    items:3,
    pagination:true,
    responsive:true,
    transitionStyle:'fadeUp'
// "singleItem:true" is a shortcut for:
// items : 1,
// itemsDesktop : false,
// itemsDesktopSmall : false,
// itemsTablet: false,
// itemsMobile : false
});
});
</script>
<!-- /Header -->
