<section id="start" class="section">
    <div class="container">

        <!-- Section Header -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <header class="text-center">
                    <h2 class="section-title underline">Easy To Start With Freedom 2.0</h2>
                    <p class="section-subtitle">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour.
                    </p>
                </header>
            </div>
        </div>
        <!-- /Section Header -->

        <!-- Section Content -->
        <div class="row section-content">

            <!-- Step Block -->
            <div class="col-sm-4 animated fadeIn wow" data-wow-duration="0.9s">
                <div class="media step">
                    <div class="media-left media-middle h4">
                        <div class="number">1</div>
                    </div>
                    <div class="media-body">
                        <div class="h4 title">Select Plan</div>
                        <p class="description">
                            It is a long established fact that a reader will be distracted by the readable content.
                        </p>
                    </div>
                </div>
            </div>
            <!-- /Step Block -->

            <!-- Step Block -->
            <div class="col-sm-4 animated fadeIn wow" data-wow-duration="0.9s" data-wow-delay="0.4s">
                <div class="media step">
                    <div class="media-left media-middle h4">
                        <div class="number">2</div>
                    </div>
                    <div class="media-body">
                        <div class="h4 title">Send Query</div>
                        <p class="description">
                            It is a long established fact that a reader will be distracted by the readable content.
                        </p>
                    </div>
                </div>
            </div>
            <!-- /Step Block -->

            <!-- Step Block -->
            <div class="col-sm-4 animated fadeIn wow" data-wow-duration="0.9s" data-wow-delay="0.8s">
                <div class="media step">
                    <div class="media-left media-middle h4">
                        <div class="number">3</div>
                    </div>
                    <div class="media-body">
                        <div class="h4 title">Get Service</div>
                        <p class="description">
                            It is a long established fact that a reader will be distracted by the readable content.
                        </p>
                    </div>
                </div>
            </div>
            <!-- /Step Block -->

        </div>
        <!-- /Section Content -->

    </div>
</section>
<!-- /Section: How To Start -->

<!-- Section: Clients -->
<section id="clients" class="section section-small bg-light-gray">
    <div class="container">

        <!-- Section Header -->
        <div class="row" style="display: none;">
            <div class="col-md-6 col-md-offset-3">
                <header class="text-center">
                    <h2 class="section-title underline">Clients</h2>
                    <p class="section-subtitle">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour.
                    </p>
                </header>
            </div>
        </div>
        <!-- /Section Header -->

        <!-- Section Content -->
        <div class="row">
            <div class="col-md-12">

                <!-- Clients Carousel -->
                <div id="carousel-clients" class="owl-carousel owl-theme">

                    <!-- Client Logo -->
                    <div class="item client">
                        <div class="image">
                            <img src="images/logo.png" alt="">
                        </div>
                    </div>
                    <!-- /Client Logo -->

                    <!-- Client Logo -->
                    <div class="item client">
                        <div class="image">
                            <img src="images/logo.png" alt="">
                        </div>
                    </div>
                    <!-- /Client Logo -->

                    <!-- Client Logo -->
                    <div class="item client">
                        <div class="image">
                            <img src="images/logo.png" alt="">
                        </div>
                    </div>
                    <!-- /Client Logo -->

                    <!-- Client Logo -->
                    <div class="item client">
                        <div class="image">
                            <img src="images/logo.png" alt="">
                        </div>
                    </div>
                    <!-- /Client Logo -->

                    <!-- Client Logo -->
                    <div class="item client">
                        <div class="image">
                            <img src="images/logo.png" alt="">
                        </div>
                    </div>
                    <!-- /Client Logo -->

                    <!-- Client Logo -->
                    <div class="item client">
                        <div class="image">
                            <img src="images/logo.png" alt="">
                        </div>
                    </div>
                    <!-- /Client Logo -->

                </div>
                <!-- /Clients Carousel -->

            </div>
        </div>
        <!-- /Section Content -->

    </div>
</section>
<!-- /Section: Clients -->

<!-- Section: Contact Information -->
<section id="contact-information" class="section section-small no-pb bg-dark">
    <div class="container">

        <!-- Section Header -->
        <div class="row" style="display: none;">
            <div class="col-md-6 col-md-offset-3">
                <header class="text-center">
                    <h2 class="section-title underline">Contact Information</h2>
                    <p class="section-subtitle">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour.
                    </p>
                </header>
            </div>
        </div>
        <!-- /Section Header -->


        <!-- Section Content -->
        <div class="row animated fadeIn wow" data-wow-duration="0.9s">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <div class="row">

                    <div class="col-sm-4 col-xs-12">
                        <div class="media contact">
                            <div class="media-left">
                                <span class="icon icon_map_alt"></span>
                            </div>
                            <div class="media-body info h5">
                                <span>Our Address</span>
                                988782, Our Street, L.A.
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div class="media contact">
                            <div class="media-left">
                                <span class="icon icon_mail_alt"></span>
                            </div>
                            <div class="media-body info h5">
                                <span>E-mail</span>
                                clients@example.com
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div class="media contact">
                            <div class="media-left">
                                <i class="icon icon_mobile"></i>
                            </div>
                            <div class="media-body info h5">
                                <span>Phone Number</span>
                                +1 (999) 888-77-66
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /Section Content -->

    </div>
</section>
<!-- /Section: Contact Information -->

<!-- Section: Contact -->
<section id="contact" class="section">
    <div class="container">

        <!-- Section Header -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <header class="text-center">
                    <h2 class="section-title underline">Contact Us</h2>
                    <p class="section-subtitle">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour.
                    </p>
                </header>
            </div>
        </div>
        <!-- /Section Header -->

        <!-- Section Content -->
        <div class="row section-content">

            <!-- Contact Form -->
            <div class="col-md-8 col-md-offset-2 contact-form animated fadeIn wow" data-wow-duration="0.9s">
                <form class="form-ajax" method="post">
                    <input type="hidden" name="form" value="Contact">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Your Name... *" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" name="email" class="form-control" placeholder="E-mail address... *" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <textarea name="message" class="form-control" placeholder="Message... "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 text-center">
                            <button type="submit" class="btn btn-theme"><i class="icon fa fa-fw fa-paper-plane-o"></i> <span class="text">Send Message</span></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /Contact Form -->

        </div>
        <!-- /Section Content -->

    </div>
</section>
<!-- /Section: Contact -->

</main>
<!-- /Main -->
