<section id="start" class="section">
    <div class="container">

        <!-- Section Header -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <header class="text-center">
                    <h2 class="section-title underline">Easy To Start With Zonia Solutions</h2>
                    <p class="section-subtitle">
                        Here are why customers choose us and how easy it is to work with us
                    </p>
                </header>
            </div>
        </div>
        <!-- /Section Header -->

        <!-- Section Content -->
        <div class="row section-content">

            <!-- Step Block -->
            <div class="col-sm-4 animated fadeIn wow" data-wow-duration="0.9s">
                <div class="media step">
                    <div class="media-left media-middle h4">
                        <div class="number">1</div>
                    </div>
                    <div class="media-body">
                        <div class="h4 title">Talk To Us</div>
                        <p class="description">
                            It is a long established fact that  communication is a key factor to achieveing yoor goals, talk to us with our 24/7 customer support and  consultation
                        </p>
                    </div>
                </div>
            </div>
            <!-- /Step Block -->

            <!-- Step Block -->
            <div class="col-sm-4 animated fadeIn wow" data-wow-duration="0.9s" data-wow-delay="0.4s">
                <div class="media step">
                    <div class="media-left media-middle h4">
                        <div class="number">2</div>
                    </div>
                    <div class="media-body">
                        <div class="h4 title">Send Query</div>
                        <p class="description">
                            We will send you a simple and user friendly anwers and technical costs and solution to achieve your aim
                        </p>
                    </div>
                </div>
            </div>
            <!-- /Step Block -->

            <!-- Step Block -->
            <div class="col-sm-4 animated fadeIn wow" data-wow-duration="0.9s" data-wow-delay="0.8s">
                <div class="media step">
                    <div class="media-left media-middle h4">
                        <div class="number">3</div>
                    </div>
                    <div class="media-body">
                        <div class="h4 title">Get Service</div>
                        <p class="description">
                            No need to look far to get the services you need to build your goals. We provide them for you
                        </p>
                    </div>
                </div>
            </div>
            <!-- /Step Block -->

        </div>
        <!-- /Section Content -->

    </div>
</section>
<!-- /Section: How To Start -->

]
<!-- Section: Contact Information -->
<section id="contact-information" class="section section-small no-pb bg-dark">
    <div class="container">



        <!-- Section Content -->
        <div class="row animated fadeIn wow" data-wow-duration="0.9s">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <div class="row">

                    <div class="col-sm-4 col-xs-12">
                        <div class="media contact">
                            <div class="media-left">
                                <span class="icon icon_map_alt"></span>
                            </div>
                            <div class="media-body info h5">
                                <span>Our Address</span>
                              10 Adelabun Ahalaji Animashaun, Surulere, Lagos
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div class="media contact">
                            <div class="media-left">
                                <span class="icon icon_mail_alt"></span>
                            </div>
                            <div class="media-body info h5">
                                <span>E-mail</span>
                                support@zonia.co
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div class="media contact">
                            <div class="media-left">
                                <i class="icon icon_mobile"></i>
                            </div>
                            <div class="media-body info h5">
                                <span>Phone Number</span>
                                +234 (816) 186-9777
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /Section Content -->

    </div>
</section>
<!-- /Section: Contact Information -->

<!-- Section: Contact -->
<section id="contact" class="section">
    <div class="container">

        <!-- Section Header -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <header class="text-center">
                    <h2 class="section-title underline">Contact Us</h2>
                    <p class="section-subtitle">
                        There are many variations nd possibilties of what may or may not be needed to get your ideas online
                        . <strong>You are free to consult us anytime </strong>
                      </p>
                </header>
            </div>
        </div>
        <!-- /Section Header -->

        <!-- Section Content -->
        <div class="row section-content">

            <!-- Contact Form -->
          <div class="text-center">
            <%=link_to "Consult Us", "", class: "btn btn-theme" %>
          </div>

        </div>
        <!-- /Section Content -->

    </div>
</section>
<!-- /Section: Contact -->

</main>
<!-- /Main -->
