<section id="our-team" class="section">
    <div class="container">
      <div class="row section-content">

          <div class="col-sm-5 col-sm-offset-1 col-xs-12">

              <h3 class="text-right xs-text-left">Development</h3>

              <!-- Team Skills -->
              <div class="skills">


                  <div class="title"> HTML5 <span>80%</span></div>
                  <div class="progress">
                      <div class="progress-bar animated fadeInLeft wow" role="progressbar" data-wow-duration="0.9s"
                           aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                  </div>

                  <div class="title"> CSS3 <span>95%</span></div>
                  <div class="progress">
                      <div class="progress-bar animated fadeInLeft wow" role="progressbar" data-wow-duration="0.9s" data-wow-delay="0.2s"
                           aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                  </div>

                  <div class="title"> JavaScript & jQuery <span>85%</span></div>
                  <div class="progress">
                      <div class="progress-bar animated fadeInLeft wow" role="progressbar" data-wow-duration="0.9s" data-wow-delay="0.4s"
                           aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                  </div>

                  <div class="title"> Ruby On Rails  <span>90%</span></div>
                  <div class="progress">
                      <div class="progress-bar animated fadeInLeft wow" role="progressbar" data-wow-duration="0.9s" data-wow-delay="0.6s"
                           aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                  </div>
                  <div class="title"> Xamarin & Xamarin Forms  <span>90%</span></div>
                  <div class="progress">
                      <div class="progress-bar animated fadeInLeft wow" role="progressbar" data-wow-duration="0.9s" data-wow-delay="0.6s"
                           aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                  </div>
                  <div class="title"> PHP <span>70%</span></div>
                  <div class="progress">
                      <div class="progress-bar animated fadeInLeft wow" role="progressbar" data-wow-duration="0.9s" data-wow-delay="0.6s"
                           aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                  </div>
                  <div class="title"> C#  <span>70%</span></div>
                  <div class="progress">
                      <div class="progress-bar animated fadeInLeft wow" role="progressbar" data-wow-duration="0.9s" data-wow-delay="0.6s"
                           aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                  </div>

              </div>
              <!-- /Team Skills -->
          </div>

          <div class="col-sm-5 col-xs-12">

              <h3>Design & Graphics</h3>

              <!-- Team Skills -->
              <div class="skills">


                  <div class="title">Photoshop<span>80%</span></div>
                  <div class="progress">
                      <div class="progress-bar animated fadeInLeft wow" role="progressbar" data-wow-duration="0.9s" data-wow-delay="0.1s"
                           aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                  </div>

                  <div class="title">Illustrator<span>75%</span></div>
                  <div class="progress">
                      <div class="progress-bar animated fadeInLeft wow" role="progressbar" data-wow-duration="0.9s" data-wow-delay="0.3s"
                           aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                  </div>

                  <div class="title">Sketch<span>85%</span></div>
                  <div class="progress">
                      <div class="progress-bar animated fadeInLeft wow" role="progressbar" data-wow-duration="0.9s" data-wow-delay="0.5s"
                           aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                  </div>
                  <div class="title">Wireframing & Visual Mockup<span>90%</span></div>
                  <div class="progress">
                      <div class="progress-bar animated fadeInLeft wow" role="progressbar" data-wow-duration="0.9s" data-wow-delay="0.6s"
                           aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                  </div>
                  <div class="title">Photography<span>90%</span></div>
                  <div class="progress">
                      <div class="progress-bar animated fadeInLeft wow" role="progressbar" data-wow-duration="0.9s" data-wow-delay="0.6s"
                           aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                  </div>

                  <div class="title">Software Arcitecture<span>90%</span></div>
                  <div class="progress">
                      <div class="progress-bar animated fadeInLeft wow" role="progressbar" data-wow-duration="0.9s" data-wow-delay="0.6s"
                           aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                  </div>

              </div>
              <!-- /Team Skills -->
          </div>


      </div>
      <!-- /Section Content -->

    </div>
    </section>
    <!-- /Section: Our Team -->

    <!-- Section: Features
    <section id="features" class="section bg-light-gray">
    <div class="container">


      <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <header class="text-center">
                  <h2 class="section-title underline">Additional  Features</h2>
                  <p class="section-subtitle">
                      There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                      alteration in some form, by injected humour.
                  </p>
              </header>
          </div>
      </div>


      <div class="row section-content animated fadeIn wow" data-wow-duration="1.2s">

          <div class="col-md-3 col-sm-6 col">
              <span class="icon icon_link_alt"></span>
              <h3 class="title">HTML5 & CSS3</h3>
              <p class="description">
                  There are many variations of passages of Lorem Ipsum available.
              </p>
          </div>

          <div class="col-md-3 col-sm-6 col">
              <span class="icon icon_easel"></span>
              <h3 class="title">Lightweight & SEO</h3>
              <p class="description">
                  There are many variations of passages of Lorem Ipsum available.
              </p>
          </div>

          <div class="col-md-3 col-sm-6 col">
              <span class="icon icon_puzzle"></span>
              <h3 class="title">Easy To Customize</h3>
              <p class="description">
                  There are many variations of passages of Lorem Ipsum available.
              </p>
          </div>

          <div class="col-md-3 col-sm-6 col">
              <span class="icon icon_pencil-edit"></span>
              <h3 class="title">Unlimited Colors</h3>
              <p class="description">
                  There are many variations of passages of Lorem Ipsum available.
              </p>
          </div>

          <div class="col-md-3 col-sm-6 col">
              <span class="icon icon_lightbulb_alt"></span>
              <h3 class="title">Multi-Purpose Using</h3>
              <p class="description">
                  There are many variations of passages of Lorem Ipsum available.
              </p>
          </div>

          <div class="col-md-3 col-sm-6 col">
              <span class="icon icon_download"></span>
              <h3 class="title">1k+ Downloads</h3>
              <p class="description">
                  There are many variations of passages of Lorem Ipsum available.
              </p>
          </div>

          <div class="col-md-3 col-sm-6 col">
              <span class="icon icon_heart_alt"></span>
              <h3 class="title">Made With Love</h3>
              <p class="description">
                  There are many variations of passages of Lorem Ipsum available.
              </p>
          </div>

          <div class="col-md-3 col-sm-6 col">
              <span class="icon icon_cogs"></span>
              <h3 class="title">24/7 Support</h3>
              <p class="description">
                  There are many variations of passages of Lorem Ipsum available.
              </p>
          </div>

      </div>


    </div>
    </section>
  -->
