
<!-- Footer -->
<footer class="footer section section-small no-pb bg-light-gray">

    <div class="container">
        <div class="row">

            <!-- Footer Column -->
            <div class="col-md-3 col-sm-6 col-xs-12 footer-col">

                <!-- Footer Logo -->
                <div class="logo">
                    <span class="icon_cogs"></span> Zonia Solutions
                </div>
                <!-- /Footer Logo -->

                <!-- Footer Text -->
                <p class="text">
                  Lets Make solutions for you
                        </p>
                <!-- /Footer Text -->

                <!-- Footer Social -->
                <ul class="social-inline">
                    <li><a href="#" class="fa fa-fw fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-fw fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-fw fa-google-plus"></a></li>
                    <li><a href="#" class="fa fa-fw fa-dribbble"></a></li>
                    <li><a href="#" class="fa fa-fw fa-pinterest"></a></li>
                </ul>
                <!-- /Footer Social -->

            </div>
            <!-- /Footer Column -->


            <!-- /Footer Column -->

            <!-- Footer Column -->
            <div class="col-md-2 col-sm-6 col-xs-12 footer-col">

                <h4 class="title">Site Menu</h4>

                <!-- Footer Menu -->
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <!-- /Footer Menu -->

            </div>
            <!-- /Footer Column -->

            <!-- Footer Column -->
            <div class="col-md-4 col-sm-6 col-xs-12 footer-col">

                <h4 class="title">Signup to Newsletter</h4>

                <!-- Footer Signup Form -->
                <div class="signup-form">
                    <form method="post" class="form-inline">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Your E-mail...*" required>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-theme"><i class="fa fa-fw fa-envelope"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /Footer Signup Form -->

                <!-- Footer Tags -->
                <div class="tags">
                    <a href="#" class="tag">web</a>
                    <a href="#" class="tag">design</a>
                    <a href="#" class="tag">clean</a>
                    <a href="#" class="tag">minimal</a>
                    <a href="#" class="tag">pixel perfect</a>
                    <a href="#" class="tag">blog</a>
                    <a href="#" class="tag">gallery</a>
                    <a href="#" class="tag">landing</a>
                    <a href="#" class="tag">business</a>
                    <a href="#" class="tag">portfolio</a>
                </div>
                <!-- /Footer Tags -->

            </div>
            <!-- /Footer Column -->

        </div>
    </div>

    <div class="bottom-line bg-dark">
        <div class="container">
            <div class="row">

                <!-- Copyright -->
                <div class="col-md-7 col-sm-12">
                    <p class="copyright">
                        Copyright &copy; 2016-2018 <strong>Zonia Solutions</strong>
                    </p>
                </div>
                <!-- /Copyright -->

                <!-- Footer Social -->
                <div class="col-md-5 col-sm-12">
                    <div class="links">
                        <a  href="#">Information</a>
                        <a  href="#">Terms of service</a>
                        <a  href="#">Private police</a>
                    </div>
                </div>
                <!-- /Footer Social -->

            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->


<!-- Scroll To Top -->
<div id="scroll-to-top" class="scroll-to-top">
    <i class="icon fa fa-angle-up"></i>
</div>
