<section style="background-image: url(<%= asset_path 'Ban2.png' %>); " class="secbg">
</section>
</br>
</br>

<!-- Main -->
<main class="main-container">
    <div class="container">
        <div class="row">

            <!-- Contact Form -->
            <div class="col-md-8 contact-form fadeIn wow" data-wow-duration="1.3s">

                <h3 class="title">Send Message</h3>
                <%= render "contacts/form" %>
              </div>
              <!-- /Contact Form -->

              <!-- Address -->
              <div class="col-md-4 fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.7s">

                  <h3 class="title">Information</h3>
                  <p>
                      You can call or email us anytime .
                  </p>

                  <ul class="contact-information">
                      <li><i class="icon fa fa-fw fa-globe"></i><span>Address</span> 10 Adelabun Surulere Street, Lagos. Nigeria</li>
                      <li><i class="icon fa fa-fw fa-envelope"></i><span>E-mail</span> support@zonia.co</li>
                      <li><i class="icon fa fa-fw fa-phone"></i><span>Phone</span> +234 816 186 9777</li>
                  </ul>

              </div>
              <!-- /Address -->

          </div>

      </div>
</main>
