<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 card">

          <div class="header">
            <h4 class="title">New Projects</h4>
          </div>
          <div class="content">
            <%= render 'form' %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
